.reservation-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-reservation-button {
    display: flex;
    align-items: center;
    gap: 8px; /* İkon ve metin arasındaki boşluk */
    background-color: #4caf50; /* Yeşil arka plan */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-reservation-button:hover {
    background-color: #45a049; /* Hover durumunda koyu yeşil */
  }
  
  .reservation-list {
    padding: 20px;
    background-color: #f7f8fc; /* Arka plan rengi */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-list h1 {
    font-size: 24px;
    font-weight: bold;
    color: #3f3d56; /* Başlık rengi */
    margin-bottom: 20px;
  }
  
  .reservation-list table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-list table th {
    background-color: #4f46e5; /* Başlık satırının rengi */
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 16px;
  }
  
  .reservation-list table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #4a4a4a;
    vertical-align: middle;
  }
  
  .reservation-list table tr:hover {
    background-color: #f1f5ff; /* Satır üzerine gelindiğinde değişen renk */
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination-button {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .pagination-button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .delete-button:hover {
    background-color: #a71d2a;
  }
  
  .see-more-button {
    background: none;
    color: #007bff;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .see-more-button:hover {
    color: #0056b3;
  }
  